.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.center-panel {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
}

.content {
  margin: 10px;
  flex-grow: 1;
}
