.sidenav-container {
  width: 200px;
}

.side-nav {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #323232;
  color: white;
  overflow: auto;
  font-size: 22pt;

  ul {
    list-style-type: none;
    padding: 5px 0px;
    margin: 5px 0px;
    background-color: #323232;

    li {
      margin: 0px;
      padding: 5px;

      &:hover {
        background-color: #a0a0a0;
      }

      &.hover,
      &.active:hover,
      &:focus-within,
      &.active:focus-within {
        background-color: #a0a0a0;
      }

      &.active {
        background-color: #808080;
      }
    }
  }

  .side-nav-label {
    width: 100%;
    height: 100%;
    color: white;
  }

  a {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
}
