<div class="main-header">
  <div class="header-content-wrap">
    <div class="header-left">
      <a href="#" data-bs-target="#sidenav-container" data-bs-toggle="collapse">
        <span class="material-icons">menu</span></a
      >
    </div>
    <div class="header-mid">
      <a href="{{url_for('pages.index')}}">
        <img
          src="{{url_for('static',filename='images/app/main_icon.svg')}}"
        /> </a
      ><span class="app-title"><a href="/">IIDS Flask Cookiecutter</a></span>
    </div>
    <div class="header-right">
      <span class="material-icons">settings</span>
    </div>
  </div>
</div>
