<!DOCTYPE html />

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}IIDS Example Project{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.scss.css')}}" />
    <link rel="icon" type="image/png" href="{{url_for('static', filename='icons/favicon.png')}}" type="image/png" />
    <link rel="icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png" />
    <link rel="icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png" />
    <link rel="icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png" />
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png" />
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png" />
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% if config.SERVE_PWA %}
    <link rel="manifest" href="{{url_for('static',filename='manifest.json')}}" />
    <script src="{{url_for('static',filename='js/register-sw.js')}}"></script>
    {% endif %}
    {% block head %}{% endblock %}
</head>

<body>
    <div class="layout">
        <header class="main-header">{% block header %}{% include "components/header.html" %}{% endblock %}</header>
        <div class="center-panel">
            <nav class="side-nav">{% block nav %}{% include "components/nav.html" %}{% endblock %}</nav>
            <div class="content">{% block content %}Page Content{% endblock %}</div>
        </div>
        <footer class="main-footer">{% block footer %}{%include "components/footer.html" %}{% endblock %}</footer>
    </div>
</body>

</html>