.side-nav {
    height: 100%;
    width: 200px;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #261882;
    color: #191919;
    overflow: auto;

    &.nav-open {
        width: 200px;
    }

    &.nav-closed {
        width: 0px;
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        background-color: #5E48FF;
    }

    li {
        margin: 0px;
        padding: 0px;
        font-size: 22pt;
    }

    li.active {
        background-color: #034441;
    }

    a {
        color: black;
    }
}