.side-nav {
    height: 100%;
    width: 200px;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    margin: 0;
    padding: 0;
    background-color: #323232;
    color: white;
    overflow: auto;
    font-size: 22pt;


    &.nav-open {
        flex-basis: 200px;
        width: 200px;
    }

    &.nav-closed {
        width: 0px;
        flex-basis: 0px;
    }

    ul {
        list-style-type: none;
        padding: 5px 0px;
        margin: 5px 0px;
        background-color: #323232;

        li {
            margin: 0px;
            padding: 5px;

            &:hover {
                background-color: #A0A0A0;
            }

            &.hover,
            &.active:hover,
            &:focus-within,
            &.active:focus-within {
                background-color: #A0A0A0;
            }

            &.active {
                background-color: #808080;
            }


        }
    }

    .side-nav-label {
        width: 100%;
        height: 100%;
        color: white;
    }

    a {
        text-decoration: none;
        width: 100%;
        height: 100%;
    }


}