html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
    color: #191919;
    font-size: 21px;
}

a {
    color: #F1B300;
    font-weight: normal;
}